.primary-background {
    -fx-background-color:#17949d
        
        
        
}
.root {
  -fx-background-image: url("file:///C:/Users/Lenovo/Downloads/back.png");
   -fx-background-size: cover;
    -fx-background-position: center;
}
.secondary-background {
    -fx-background-color:#cced55
}

.card-title-custom {
    font-weight: bold;
    font-size: 25px;
    color: blue;
}
.card-title {
    font-size: 50px;
    font-weight: bold;
}